
.text {
  margin-left: 20px;
  width: 45%;
}

.accordion {
  background-color: #EEB6B6;
  color: #242424;
  cursor: pointer;
  padding: 18px;
  width: 45%;
  text-align:left;
  border:none;
  outline:none;
  transition: 0.4s;
  font-size: 26px;
  font-family: 'Alegreya SC';
  margin-left: 20px;
  margin-top: 12px;
}

.active, .accordion:hover {
  background-color: #D36464;
}

.panel {
  margin-left: 20px;
  padding: 0 18px;
  background-color: #E59191;
  overflow: hidden;
  width: 45%;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: 'Alegreya';
  font-size: 20px;
}
